body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 40em; 
}
pre {
    border: 1px dotted gray;
    color: #1111111;
    padding: 0.5em;
}
code {
    font-family: monospace;
}
h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
}
h1, h2, h3, h4, h5 {  }
h1 {
        font-size: 180%;
}

h2 {
        font-size: 120%;
}

h3 {
        font-size: 100%;
}

h4 {
        font-size: 90%;
        font-style: italic;
}

h5 {
        font-size: 90%;
        font-style: italic;
}

h1.title {
        font-size: 250%;
        text-align: center;
        border: none;
}

h2.author {
        font-size: 120%;
        text-align: center;
        border: none;
}

h3.date {
        font-size: 100%;
        text-align: center;
        border: none;
}


dt code {
        font-weight: bold;
}
dd p {
        margin-top: 0;
}



table {
    width: 100%;
    padding-top:    0.2em;
    padding-bottom: 1.2em;
    border: 1px dashed black;
}

td, th { 
    vertical-align: top; 
    vertical-align: baseline;
    padding-left:   0.5em;
    padding-right:  0.5em;
    padding-top:    0.2em;
    padding-bottom: 0.2em;
    border: 1px solid black;
}